body
{
  /* font-family: 'Alkatra', cursive; */
  /* font-family: 'Black Han Sans', sans-serif; */
  font-family: 'Prompt', sans-serif;
  /* font-family: 'Signika', sans-serif; */
  background-color: rgb(245, 249, 249);
}
.head
{
  display: flex;
  justify-content: center;
}
.bend
{
  font-size: 20px;
  margin-right: 10px;
  writing-mode:vertical-lr;
}
.viewbothSide
{
  display: flex;
  gap: 50px;
}
.photo
{
  width: 400px;
  height: 270px;
  border-radius: 15px;
}
.photo2
{
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
.mixPart
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 10px;
}
.mixPart2
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 10px;
}
.content
{
  width: 320px;
}
.content2
{
  width: 270px;
}
.line
{
  border-bottom: 5px solid red;
  width: 200px;
  margin-left: 10px;
}
.singleImage
{
  width: 570px;
  height: 400px;
}
.size
{
  font-size: 17px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}
.removeLine
{
  text-decoration: none;
  font-size: 18px;
  color: black;
  cursor: pointer;
}
.btnarrow
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.detailsImage
{
  width: 800px;
  height: 500px;
}
.detailsContent
{
  width: 700px;
}
.mainPart
{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  /* z-index: -1; */
}
.details
{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.manHead
{
  display: flex;
  align-items: center;
  gap: 10px;
}
.allLogo
{
  width: 50px;
  height: 50px;
}
.arrange
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 270px;
}
.clap
{
  display: flex;
  gap: 20px;
  color: grey;
  position: fixed;
  left: 40px;
  top: 350px;
  /* background-color: blue; */
  z-index: -1;

}
.share
{
  display: flex;
  gap: 20px;
  color:grey;
  position: fixed;
  left: 50px;
  top: 400px;
  /* background-color: blue; */
  z-index: -1;
}
.BackBtn
{
  width: 170px;
  height: 40px;
  border-radius: 30px;
  background-color: blue;
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}
.BackBtn:hover
{
  background-color: black;
  cursor: pointer;
}
.threeBtn
{
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  width: 800px;
}
.bottomClap
{
  width: 800px;
  display: flex;
  
}
.boxShadow
{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 5px;
}
.AllTheLatest2
{
    display: flex;
    gap: 10px;
    margin: 10px;
    /* background-color: #00000029; */
} 
.OnlyBackground
{
  background-color: #00000029;
  position: relative;
  z-index: 2;
}
.detailsBack
{
  display: flex;
  justify-content: center;
} 
.lastPart
{
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 560px){
  .viewbothSide
  {
    display: flex;
    flex-direction: column;
  }
  .mixPart
  {
    display: flex;
    flex-direction: column;
  }
  .photo
  {
    width: 350px;
  }
  .mixPart2
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .photo2
  {
    width: 350px;
  }
  .content2
  {
    width: 350px;
  }
  .singleImage
  {
    width: 350px;
  }
  .single
  {
    padding: 10px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
  }
  .mainPart
  {
    position: relative;
  }
  .clap
  {
    position: absolute;
    top: 160px;
    left: 260px;
    display: none;
  }
  .share
  {
    position: absolute;
    top: 200px;
    left: 260px;
    display: none;
  }
  .textOff
  {
    display: none;
  }
  .arrange
  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
 .detailsContent
 {
  width: 350px;
 }
 .detailsImage{
  width: 350px;
 }
 .AllTheLatest2
 {
  display: flex;
  flex-direction: column;
 }
 .boxShadow
 {
  width: 350px;
 }
 .threeBtn
 {
  width: 350px;
 }
 .bottomClap 
 {
  width: 350px;
 }
 .lastPart
 {
  /* border-bottom: 2px solid white; */
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

 }
 .latestContent
 {
  height: 350px;
 }

}