.navbar2 {
    background-color: #1f5156;
    height: 60px;
    width: 98vw;
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
    align-items: center;
    /* font-size: 1.2rem; */
    font-size: 20px;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 20;
    /* width: 100vw; */
  }
  
  .nav-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* width: 100%; */
    height: 80px;
    /* max-width: 1500px; */
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
  }
  
  .nav-links {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    border-bottom: 3px solid transparent;
  }
  
  .nav-item {
    line-height: 40px;
    margin-right: 1rem;
    margin: 40px;
  }
  
  .nav-item:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
  }
  
  .nav-item:hover:after {
    width: 100%;
    background: #ffdd40;
  }
  
  .nav-item .active {
    color: #ffdd40;
    border: 1px solid #ffdd40;
  }
  #gohome:hover
  {
    font-size: 25px;
  }
  
  .nav-icon {
    display: none;
  }
  .head2
  {
    /* display: none; */
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .head3
  {
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .mainsiren
  {
    display: none;
    /* display: block; */
  }
  .bend2
  {
    writing-mode: vertical-rl;
  }
  .siren
  {
    font-size: 20px;
  }
  
  @media screen and  (max-width: 560px) {
    .mainsiren
    {
      display: block;
      /* display: none; */
    }
    .navbar2
    {
      min-width: 375px;
      font-size: 18px;
    }
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-top: 1px solid white;
      position: absolute;
      top: 80px;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background-color: #1f5156;
      min-width: 375px;
      left: 0px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
      padding-left: 0;
      margin: 0;
      /* margin-top: 5px; */
    }
    .nav-item .active {
      color: #ffdd40;
      /* border: none; */
      border: block;
    }
    .nav-links {
      /* padding: 1.5rem; */
       padding: 0;
      width: 100%;
      display: table;
      margin-bottom: 10px;
    }
  
    .nav-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      color: #ffdd40;
    }
    .nav-container
    {
      min-width: 300px;
    }
    .nav-item
    {
      line-height: 60px;
      margin: 10px;
    }
    .head3
    {
      display: none;
    }
  }

  @media screen and (max-width: 980px) {
    
    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: yellow;
        border-top: 1px solid white;
        position: absolute;
        top: 80px;
        left: -110%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background-color: teal;
        min-width: 375px;
        left: 0px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        padding-left: 0;
        margin: 0;
    }

    .nav-item .active {
        color: #FFDD40;
        border: block;
    }

    .nav-links
     {
        padding: 0;
        width: 95vw;
        display: table;
        margin-bottom: 10px;
    }

    .nav-icon {
        display: block;
        position: absolute;
        top: -1vh;
        left: 0vw;
        transform: translate(2400%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
        color: #FFDD40;
    }
    .mainsiren
    {
      display: block;
    }
    .nav-container {
        width: 100.7vw;
    }

    .nav-item {
        line-height: 60px;
        margin: 10px;
    }

    .head3 {
        display: none;
    }
    .logo{
        margin: 0px;
        top: 7px;
        left: 13px;
    }

}
@media screen and (min-width: 800px) and (max-width: 980px){
    .nav-icon{
        /* top: 3vh; */
        bottom: 2vh;
    }
}

/* @media screen and (min-width: 280px) and (max-width: 355px){
    .logo-name{
        font-size: 1.4rem;
    }
} */

@media screen  and (min-width: 980px) and (max-width: 1230px){
    .nav-item{
        margin-right: 0px;
        right: 2.3rem;
    }
}

/* @media screen and (max-width:980px){
  nav{
      height:100px;
     background-color: teal;
  }
  nav ul li .nav_link{
      font-size: 17px;

  }
  .label{
      display:flex;
  }
  label #btn{
  color:white;
  font-size: 30px;
  float:left;
  margin-top:40px;
  margin-left: 20px;
  line-height: 80px;
  display:block
  
}
label #cancel{
  color:white;
  font-size: 30px;
  float:left;
  margin-top:40px;
  margin-left: 20px;
  line-height: 80px;
  display:none;

}
nav ul li:hover div {
  display: none;
  position: absolute;
  width: 200px;
  background: aliceblue;
  margin-top: 1px;
  margin-left: -15px;
}

 nav ul{
      position: absolute;
      width:100%;
      background-color: blue; 
      border-radius: 23px;
      top:120px;
      right: 96vw;
      text-align: center;
      transition: all .5s;
      display: flex;
      flex-direction: column;
      justify-content: center; 
      align-items: center;
      z-index: 8;
  }
  nav ul li{
      display:block;
      margin:20px 0;
      line-height: 30px;
      position:relative;
      left:-2%;

  }
  #check:checked ~ ul{
      left:0;
  }
  #check:checked ~ .label label  #btn{
      display:none;
  }
  #check:checked ~ .label label #cancel{
      display:block;
  }
  nav ul li .nav_link{
      align-content: center;
      color:white;
      font-size:18px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
  }

} */
